/* I love ripping open source code */

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#page-wrap {
    position: relative;
    width: 80%;
    margin: 500px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}

#banner0{
    position: relative;
    background: url(solar_background.jpg);
    background-size: cover;
    min-height: 100%;
    min-width: 1024px
    width: 100%;
    height: auto;
    margin: 50px 0px;
}

#transbox {
    margin: 30px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#pictban{
    width: 100%;
}

#pictban img{

    margin: auto;
    max-width:100%;
    height:auto;
    display:block;
    opacity:0.4;

}

#banner1 {
    position: relative;
    width: 80%;
    margin: 50px 0px;
    padding: 20px;
    background: #00FF33;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
		 
}

#banner2 {
    position: relative;
    width: 80%;
    margin: 50px 0px;
    padding: 20px;
    background: #00FF33;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    float: right;
		 
}

#textwrap {
    width: 95%;
    margin: auto;
    overflow: hidden; /* add this to contain floated children */
}

#pictcell{
    width:40%;
    overflow: hidden;
    border: 1px solid red;
}

#pictcell img {
    margin: auto;
    max-width:100%;
    height:auto;
    display:block;
}

#write1 {
    width: 59%;
    margin: 50px 0px;
    float: right; /* add this */
}

#write2 {
    width: 59%;
    margin: 50px 0px;
    float: left; /* add this */
}

#fill{
    width: 100%;
}

#write3{
    width: 100%;
    margin: 50px auto;
}

#write4{
    margin: 50px 0px;
    width:40%;
    overflow: hidden;
}

user agent stylesheetdiv {
    display: block;
}

.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

p.custfont {

    margin: auto 50px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

h2.custfont {

    margin: auto 50px;

}

p.custfont2{

    margin: auto 150px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}

h1.title {

    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;

}

h2.title{
    
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

table.box{

    width: 80%;
    margin: auto;

}

td.pic{

    width: 30%;

}

td.pictext{

    width: 70%;

}

#button1{

}

p.first{

    display: none;

}

#button2{

}

p.second{

    display: none;

}